.list-title {
	font-size: 36px;
	font-weight: 700;
	color: #06f;
	height: 100px;
	line-height: 100px;
	padding-left: 20px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	/* box-shadow: 0px 0px 2px 1px #eff0f5; */
}

.list-title-text {
	position: relative;
}
.list-title-text::after {
	position: absolute;
	bottom: 0;
	width: 56px;
	display: block;
	content: '';
	height: 10px;
	background-color: #06f;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
}

.list-container {
	min-height: 100vh;
	background-color: #eff0f5;
	padding: 100px 0 120px;
	box-sizing: border-box;
}

.list-item {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #fff;
}

.item-top {
	display: flex;
	align-items: center;
}

.item-head-img {
	width: 72px;
	height: 72px;
	border-radius: 50%;
}

.item-user-info {
	margin-left: 10px;
}

.item-user-name {
	font-size: 28px;
	color: #333;
}
.item-update-time {
	font-size: 24px;
	color: #999;
}

.title {
	font-weight: 700;
	margin-top: 8px;
	font-size: 32px;
	color: #333;
}

.content {
	display: flex;
	margin-top: 8px;
	font-size: 28px;
	color: #333;
}

.desc {
	flex: 1;
}

.main-pic {
	width: 200px;
	height: 120px;
	border-radius: 12px;
	margin-left: 20px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fill {
	width: 100%;
	height: calc(100vh - 220px);
}
